/* reset */
:root{
    --lime:#ADFF2F;
    --blk: black;
    --wt: white;
    --deep-blue:#141922;
    --bg-dark-grey:#282828;
    --grey:#717171;
    --bg-topbar: rgba(0, 0, 0, 0.5);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* repetitive stuff */
.btn{
    padding: 1em;
    border-radius: 2em;
    border: 1px solid var(--wt);
    width: 17rem;
    text-align: center;
    cursor: pointer;
    transition: transform 200ms linear;
}
.caps{
    text-transform: uppercase;
}
.cap{
    text-transform: capitalize;
}
.wt-txt{
    color: var(--wt);
}
.gr-txt{
    color: var(--grey);
}
.b-txt{
    font-weight: bold;
}
.flex{
    display: flex;
}
.j-btwn{
    justify-content: space-between;
}
.a-cnt{
    align-items: center;
}
.j-cnt{
    justify-content: center;
}
.cards{
    margin-left: -.8rem;
    margin-right: -.8rem;
}
.card{
    width: calc(100% / 6);
    max-width: 150px;
    text-align: center;
    font-weight: bold;
    padding: 0 0.8rem;
}
.title{
    margin-top: 1em;
    font-size: 1.4rem;
}
.side-bar img{
    width: 2rem;
    filter: invert(0.55) ;
    padding-right: .3rem;
}


/* specific selector */
.small{
    display: none;
}
.side-bar{
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--blk);
    padding: 1rem;
}
.logo{
    width: 100%;
    margin-bottom: 1rem;
}
.logo img{
    width: 60%;
    filter: none;
}
.side-bar a{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--grey);
    font-weight: bold;
}
.playlist{
    overflow-y: auto;

}

.side-bar a:hover, .install div:hover{
    color: var(--wt);
}
.side-bar a:hover img{
    filter: none;
}
.col{
    display: flex;
    flex-direction: column;
    height: calc(100% - 12rem);
    overflow: hidden;
}
.playlist .title, .playlist .create, .navigate li, .john .cap{
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.5rem;
}
.create{
    width: 60%;
    transition: transform 300ms linear, margin-left 300ms linear;
}
.navigate li{
    border-left: 2px solid var(--blk);
    margin-left: -.5rem;
    padding-left: .5rem;
}
.navigate li:hover{
    border-color: var(--lime);
}
.playlist ul{
    margin-top: 1rem;
}
.playlist a{
    font-size: 1rem;
    line-height: 2rem;
}
.playlist .create:before{
    content: '+';
    color: var(--blk);
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    margin-right: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--grey);
}
.create:hover{
    cursor: pointer;
    transform: scale(1.1);
    margin-left: 1rem;
    color: var(--wt);
}
.side-bar .hr{
    background-color: var(--grey);
    width: 100%;
    height: 1px;
    margin: .5rem 0;
}
.install, .john{
    width: 45%;
}
.john img{
    filter: none;
}
.john .prof{
    border-radius: 50%;
    filter: none;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: .5rem;
    background-color: var(--grey);
    overflow: hidden;
}
.john:hover{
    cursor: pointer;
}
.prof img{
    padding: 0;
    padding-left: 1.25px;
}
.wrapper {
    width: 100%;
    height: 100vh;
}
main{
    width: 100%;
    height: calc(100% - 90px);
}
h2{
    font-size: 1.6rem;
    margin-bottom: 1em;
}
.container{
    width: calc(100% - 230px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.top-bar{
    position: fixed;
    padding: 1rem;
    z-index: 500;
    width: calc(100% - 230px);
    top: 0;
    justify-content: flex-end;
    background-color: var(--bg-topbar);
}
.top-bar .btn:hover{
    transform: scale(1.1);
}

li{
    list-style: none;
    cursor: pointer;
}
.central-body{
    height: 100%;
    overflow-y: auto;
    background-color: var(--deep-blue);
    padding: 6rem 0 90px;
}
.category ul{
    margin: 0 auto;
    width: 40%;
    min-width: 425px;
    text-align: center;
}
.cat{
    margin-bottom: 12px;
}
div[class^='line-']{
    width: 33%;
    height: 2px;
}
.line-g{
    border: 1px solid var(--deep-blue);
}
.cat:hover{
    color: var(--wt);
}
.cat:hover ~ .target .line-g{
    border-color: var(--lime);
}
.central-body section{
    padding: 1.5rem;
}
.recently a{
    text-decoration: none;
    color: var(--wt);
}
.card img {
    width: 100%;
    display: block;
}
.card .gr-txt{
    margin-top: 1em;
}
.play{
    position: relative;
}
.play img{
    border-radius: .7rem;

}
.play .overlay{
    border-radius: .7rem;
    height: 100%;
    width: 100%;
    background-color: var(--bg-topbar);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.overlay i{
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.card:hover .overlay{
    display: block;
}
.for-u .sub{
    margin-bottom: 2.5em;
}
.artist .sub{
    margin-bottom: 2.5em;
}
.r-card img{
    width: 100%;
    border-radius: 50%;

}

li.active, .category .target .active{
    border-color: var(--lime);
}

footer{
    padding: 1rem;
    width: 100%;
    height: 90px;
    background-color: var(--bg-dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.song, .device-sett{
    width: 17%;
    max-width: 165px;
}
.det .cap:first-child, .add i, .device-sett i{
    font-size: 1.3rem;
}
.add{
    width: 20%;
}
.add i{
    color: var(--grey);
}
.heart i:last-child{
    display: none;
}
.heart:hover i:last-child{
    display: block;
}
.heart:hover i:first-child{
    display: none;
}
.folder i:last-child{
    display: none;
}
.folder:hover i:last-child{
    display: block;
}
.folder:hover i:first-child{
    display: none;
}
.cover{
    width:30%;
    max-width: 70px;
    margin-right: 5%;
}
.cover img{
    width: 100%;
}
.player{
    width: 40%;
    min-width: 180px;
    text-align: center;

}
.command{
    align-items: baseline;
}
.command i{
    font-size: 1.3rem;
    margin: 1.5rem;
}
.command i:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}
.command label i{
    font-size: 2rem;
}
.time input{
    width: 70%;
    height: .4rem;
    border-radius: .2rem;
    margin: 0 1rem;
}
.device-sett input{
    min-width: 40px;
    cursor: pointer;
    width: 60%;
    height: .4rem;
    border-radius: .2rem;
    margin: 0 1rem;
}
.device-sett i{
    font-size: 1.2rem;
    margin: .5rem;
}
#play{
    display: none;
}
label#play i:last-child{
    display: none;
}
#play:checked ~ label i:last-child{
    display: block;
}
#play:checked ~ label i:first-child{
    display: none;
}
input#sel-vol{
    display: none;
}

/***********************************************/

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: var(--grey);
    height: .4rem;
    border-radius: .2rem;
    position: relative;
}
input[type="range"]::-moz-range-track {
    background: var(--grey);
    height: .4rem;
    border-radius: .2rem;
} 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: .7rem;
    width: 20%;
    border-radius: .5rem;
    background: #ffffff;
    cursor: pointer;
    position: absolute;
    top:50%;
    left:0;
    transform: translate(0, -50%);
}
/***********************************************/
@media screen and (max-width:1100px){
    .card{
        width: calc(100% / 4);
        max-width: none;
        margin-bottom: 1.5rem;
    }
    .cards{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:900px){
    *{
        font-size: 9px;
    }
    .logo img{
        width:50%;
    }
    .cover{
        min-width: 35px;
        max-width: none;
    }
    .det{
        margin: 0 .5rem;
    }
    .cover img{
        min-width: 35px;
    }
    .song, .device-sett{
        min-width: 120px;
    }
    
}
@media screen and (max-width:700px){
    .card{
        width: calc(100% / 2);
    }
    .add{
        display: block;
    }
    #volume{
        display: none;
    }
    .device-sett{
        min-width: fit-content;
        width: 60px;
        position: relative;
    }
    #sel-vol:checked ~ #volume{
        display: block;
        transform: rotate(270deg);
        position: absolute;
        right: -2.2rem;
        bottom:50px;
        width: 5rem;
    }
    





}
@media screen and (max-width:600px){
    .side-bar{
        width: 40px;
        position: relative;
    }
    .container, .top-bar{
        width: calc(100% - 40px);
    }
    .hide{
        display: none;
    }
    .small{
        display: block;
        margin-left: 2px;
    }
    .logo img{
        width: 2.5rem;
    }
    .navigate{
        margin-top: 2rem;
    }
    .navigate li{
        margin-bottom: 1rem;
    }
    .john{
        display: block;
    }
    .install-john{
        width: 100%;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}